{% extends 'base.html' %}
{% load static %}

{% block title %}Blog Post List{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/blog_page.css' %}" />
{% endblock css %}
{% block content %}
<div class="message">
    {% for message in messages %}
        <div class="alert {{ message.tags }}">
            <strong>Message:</strong> {{ message }}
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% endfor %}
</div>
<div class="main">
    {% if user.is_authenticated and user.is_doctor %}
        <button onclick="toggleBlogForm()">Add new Blog</button>
        <div id="blogForm" style="display:none;">
            <h1>Create Blog Post</h1>
            <form method="post" action="{% url 'Create_blog' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    {% endif %}
    
    <h1>Blog Posts</h1>
    {% for category, blogs in category_blogs.items %}
        <h2>{{ category.name }}</h2>
        <ul>
            {% for blog_post in blogs %}
            <li>
                <h3>{{ blog_post.title }}</h3>
                {% if blog_post.image %}
                    <img src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}" style="width:20%; height: 120px;">
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <p>{{ blog_post.summary|truncatewords:15 }}</p>
                <p>Content: {{ blog_post.content }}</p>
                <p>Author: {{ blog_post.author }}</p>
                <p>Created at: {{ blog_post.created_at }}</p>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock content %}

{% block script %}

    function toggleBlogForm() {
        var blogForm = document.getElementById('blogForm');
        if (blogForm.style.display === 'none') {
            blogForm.style.display = 'block';
        } else {
            blogForm.style.display = 'none';
        }
    }

{% endblock script %}
