{% extends 'base.html' %}
{% load static %}
{% block title %}Book Appointment{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/base.css' %}">{% endblock %}
{% block content %}
<div class="message">
    {% for message in messages %}
    <div class="alert {{ message.tags }}">
        <strong>Message: </strong> {{ message }}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {% endfor %}
</div>
<h1>Book Appointment with {{ doctor.name }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Confirm</button>
</form>
{% endblock %}
